/*
Style

A dark HTML background then a slightly lighter body with a set maximum width and off-white text.
*/

html {
	/* Background. Dark gray. */
	background: hsl(240, 5%, 20%);
	/* Foreground color. Off-white. */
	color: hsl(240, 5%, 80%);
	/* Text. Space out the lines for easier reading of large paragraphs. Typeface should be a ser-provided sans-serif. */
	line-height: 1.5em;
	font-family: sans-serif;
}
body {
	/* Margin and padding. Spacing from the viewport edge on the top and bottom and horizontal centering by distributing the margin equally on the left and right. Padding inside to keep the text from the body edge. */
	margin: 20px auto;
	padding: 20px;
	/* Sizing. A max width of 1000 CSS pixels. */
	max-width: 1000px;
	/* Background. Slightly lighter gray. */
	background: hsl(240, 5%, 30%);
	/* Border. A slight rounding of the corners. */
	border-radius: 20px;
	/* A little bit of box-shadow to highlight the body. */
	box-shadow: 0 0 10px black;
}